<%- include('header') %>


<div class="weui-cells">
  <form action="/message/search" method="post" class="weui-cell">
    <div class="weui-cell__hd">
      <label class="weui-label">搜索借款人</label>
    </div>
    <div class="weui-cell__bd">
      <input class="weui-input" type="text" placeholder="请输入借款人姓名" name="search" />
    </div>
    <div class="weui-cell__ft">
      <input type="submit" value="搜索" class="weui-vcode-btn" />
    </div>
  </form>
</div>


<% docs.forEach(function(doc){%>
  <div class="weui-cells">
    <div class="weui-cell weui-flex">
      <p class="weui-flex__item" style="text-align:center;">用户名: <%= doc.username%></p>
    </div>
    <div class="weui-cell weui-flex">
      <div class="weui-flex__item">
        <a class="weui-btn weui-btn_primary" href="/message/<%= doc.openid %>">
          查看订单
        </a>
      </div>
      <div class="weui-flex__item">
        <a class="weui-btn weui-btn_warn" href="/delete/user/<%= doc.openid %>">
          删除用户
        </a>
      </div>
    </div>
  </div>
<% }) %>

<%- include('footer') %>
