<%- include('header') %>

<% if(docs.length == 0 ){%>
  <p>尚无此用户订单</p>
<% }%>


<% docs.forEach(function(doc){ %>
  <a class="weui-tab__panel" href="/message/state/<%= doc.infoShopNum %>">
    <div class="weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>订单号</p>
        </div>
        <div class="weui-cell__ft">
          <%= doc.infoShopNum %>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <p>借款人</p>
        </div>
        <div class="weui-cell__ft"><%= doc.infoname%></div>
      </div>
    </div>
  </a>
<% }) %>
<%- include('footer') %>
